body{
 display: flex;
 justify-content: center;
 align-items: center;
}

input{
    padding: 10px;
    width: 30%;
    border: none;
    outline: none;
    border: 2px solid black;
}

input:hover{
    border: 2px solid red;
    font-family: 'Times New Roman', Times, serif;
}